<nav class="navbar navbar-light" style="background-color: #dddddd;">
    <a class="navbar-brand" href="{% url 'index' %}">
        <span style="color:#ff0000">Sovcom</span>Test
    </a>
    <nav class="my-2 my-md-0 mr-md-3">

        {% if request.user.is_authenticated %}

            Пользователь: {{ request.user.username }}
            <br>
            <a href="{% url 'clients_create' %}">Новый клиент</a>
            <br>
            <a class="p-2 text-dark" href="{% url 'password_change' %}">Изменить пароль</a>
            <a class="p-2 text-dark" href="{% url 'logout' %}">Выйти</a>

        {% elif not request.user.is_authenticated %}

            <a class="p-2 text-dark" href="{% url 'login' %}">Войти</a> |
            <a class="p-2 text-dark" href="{% url 'signup' %}">Регистрация</a>

        {% endif %}

    </nav>
</nav>
